*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.layout-wrapper {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.right-side-pusher {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.right-side-pusher > div {
  width: 330px;
}
