*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --font-base: "Inter", "Helvetica Neue";

  --font-header: "Times New Roman", sans-serif;
}

body {
  min-width: 320px;
  font-family: var(--font-base);
}

.font-header {
  font-family: var(--font-header);
}

.layout-wrapper {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.right-side-pusher {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.right-side-pusher > div {
  width: 350px;
}
